<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">View User</li>
  </ol>
</nav>

<div class="view-user p-5">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.roll}} - {{this.name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Roll</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.roll}}</th>
            <td>{{this.name}}</td>
            <td>{{this.dob}}</td>
            <td>{{this.score}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  {{/each}}
</div>